<!-- <div [hidden]="submitted">
    <form [formGroup]="surveyForm" (ngSubmit)="onSubmit()" #fdForm="ngForm">
          <ng-template matStepLabel>
            <u>title</u>
          </ng-template>
          <h4>please provide your information</h4>
          <mat-form-field>
            <mat-label>name</mat-label>
            <input name="name" matInput placeholder="dish name" [(ngModel)]="feedback.name" 
            formControlName="name" required>
          </mat-form-field>
         
          <button mat-raised-button color="primary" type="submit" [disabled]="!fdForm.form.valid"
          ><mat-icon>upload</mat-icon>submit</button>
    </form>
    </div>
    <div *ngIf="submitted">
      <h2>Thanks for your upload</h2>
    </div> -->