<div class="grid">
    <h2>LikedRecipes</h2>
  <div *ngFor="let recipe of likedRecipes" >
    <div class="recipeItem">
      <a routerLink="/recipe/{{recipe._id}}"  >
        <p><img src="{{ recipe.imgUrl ? recipe.imgUrl : '../../assets/images/default.gif'}}" alt="image"></p>
        <p class="title">{{recipe.title}}<span class="fav">{{recipe.popularity}}&nbsp;<mat-icon [inline]="true" color="warning" >favorite</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
        <p>{{recipe.introduction}}</p>
     </a>
    </div>
    </div>
    <h2>UploadedRecipes</h2>
    <div *ngFor="let recipe of uploadedRecipes" >
      <div class="recipeItem">
        <a routerLink="/recipe/{{recipe._id}}"  >
          <p><img src="{{ recipe.imgUrl ? recipe.imgUrl : '../../assets/images/default.gif'}}" alt="image"></p>
          <p class="title">{{recipe.title}}<span class="fav">{{recipe.popularity}}&nbsp;<mat-icon [inline]="true" color="warning" >favorite</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
          <p>{{recipe.introduction}}</p>
       </a>
      </div>
  </div>
  <h2>CompletedRecipes</h2>
    <div *ngFor="let recipe of completedRecipes" >
      <div class="recipeItem">
        <a routerLink="/recipe/{{recipe._id}}"  >
          <p><img src="{{ recipe.imgUrl ? recipe.imgUrl : '../../assets/images/default.gif'}}" alt="image"></p>
          <p class="title">{{recipe.title}}<span class="fav">{{recipe.popularity}}&nbsp;<mat-icon [inline]="true" color="warning" >favorite</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
          <p>{{recipe.introduction}}</p>
       </a>
      </div>
  </div>

</div>



