<mat-toolbar class="header" color="warn">
    <mat-toolbar-row>
    <button mat-icon-button (click)="sideNav.toggle()">
        <mat-icon>{{ sideNav.opened ? 'close' : 'menu' }}</mat-icon>
      </button>
      <span>Dish Map</span>
      <span class="toolbar-seprator"></span>

      <!-- <button type="button" mat-icon-button ng-click="window.location.href='/feedback'">
        <mat-icon>login</mat-icon>
      </button>
      <button  type="button" mat-icon-button ng-click="window.location='/register'">
        <mat-icon>user</mat-icon>
      </button>
      <button type="button" mat-icon-button>
        <mat-icon>exit_to_app</mat-icon>
      </button> -->
      <a routerLink="/login" mat-icon-button><mat-icon>perm_identity_icon</mat-icon></a>
      <a routerLink="/user" mat-icon-button><mat-icon>home</mat-icon></a>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" #sideNav mode="side" position="start" opened="true" 
       fixedTopGap="0" fixedBottomGap="0">
       <mat-nav-list>
        <a routerLink="/worldmap" mat-list-item><mat-icon>map</mat-icon>world map</a>
        <!-- <button (click)="showNations = !showNations" mat-raised-button>nations</button>
        <mat-nav-list *ngIf="showNations">
            <a *ngFor="let nation of nations" class="nations"
            routerLink="/cookbook/{{nation}}">
              <span>{{nation}}</span>
           </a>
        </mat-nav-list>  -->
        <a routerLink="/upload" mat-list-item><mat-icon>upload</mat-icon>upload</a>
        <a routerLink="/feedback" mat-list-item><mat-icon>chat</mat-icon>feedback</a>
      </mat-nav-list>

    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
<!-- <app-sidenav></app-sidenav> -->
    <!-- <mat-drawer-container style="height:100px;margin:10px;border: 1px solid black">
      <mat-drawer mode="side" opened="true">Drawer Side</mat-drawer>
      <mat-drawer-content>Content</mat-drawer-content>
    </mat-drawer-container> -->
  
<!-- <button mat-raised-button color="primary">Hello World！</button>
<div>
<mat-icon>person</mat-icon>
</div>
<div>
<mat-icon color="primary">thumb_up</mat-icon>
</div>
<div>
<mat-icon color="warn">warning</mat-icon>
</div>
<mat-sidenav-container>
    <mat-sidenav>Start</mat-sidenav>
    <mat-sidenav-content>Main</mat-sidenav-content>
    <mat-sidenav-content>Main</mat-sidenav-content>
    <mat-sidenav-content>Main</mat-sidenav-content>
    <mat-sidenav-content>Main</mat-sidenav-content>
    <mat-sidenav-content>Main</mat-sidenav-content>
    <mat-sidenav-content>Main</mat-sidenav-content>

  </mat-sidenav-container>
  <button mat-button>我是按钮</button>
  <button mat-button color="primary">Primary</button>
  <button mat-button color="accent">Accent</button>
  <button mat-button color="warn">Warn</button>
  <button mat-button disabled>Disabled</button>
  <a mat-button>Link</a>

  <button mat-raised-button>我是raised按钮</button>
  <button mat-raised-button color="primary">Primary</button>
  <button mat-raised-button color="accent">Accent</button>
  <button mat-raised-button color="warn">Warn</button>
  <button mat-raised-button disabled>Disabled</button>
  <a mat-button>Link</a>

  <button mat-raised-button color="primary"><mat-icon>thumb_up</mat-icon> 我有Icon</button>
  <button mat-icon-button color="primary"><mat-icon>thumb_up</mat-icon></button>
 <button mat-raised-button mat-icon-button color="primary"><mat-icon>thumb_up</mat-icon></button>

 <button mat-fab>    <mat-icon>thumb_up</mat-icon>
 </button>
 <button mat-fab color="primary">    <mat-icon>thumb_up</mat-icon>
 </button>
 <button mat-fab color="accent">    <mat-icon>thumb_up</mat-icon>
 </button>
 <button mat-fab color="warn">    <mat-icon>thumb_up</mat-icon>
 </button>
 <button mat-fab disabled>    <mat-icon>thumb_up</mat-icon>
 </button> -->
