img {
  height: 280px;
  width: 280px;
}
mat-icon {
  color: red;
}
a {
  text-decoration: none;
}
#recipeContainer {
  padding: 25px;
  margin: 30px;
  margin-right: 250px;
}
#sidebar {
  border: thin solid #007e7e;
  width: 200px;
  padding: 0px 50px 50px 20px;
  margin-left: 100px;
  text-align: center;
  float: right;

  background: #fff;
  border: 1px solid #fff;
  box-shadow: #d0d0d0 1px 1px 10px 0px;
}

#recipeContainer > h1 {
  text-align: center;
  color: coral;
}

a {
  color: black;
}

#sidebar li {
  list-style: none;
  color: #525c66;
  border-bottom: 1px solid #b8c2cc;
}

.index {
  text-align: left;
  float: left;
}
.name {
  text-align: center;
  float: initial;
}
.num {
  text-align: right;
  float: right;
}
button {
  margin-left: 100px;
}
mat-icon {
  color: orangered;
}

#sidebar h2 {
  color: lightcoral;
}

.title {
  font-weight: bolder;
}
.nation {
  text-indent: 8%;
}
