<h2>Cookbook</h2>
<div class="grid">
  <div *ngFor="let recipe of currentRecipes" >
    <div class="recipeItem">
      <a routerLink="/recipe/{{recipe.id}}"  >
        <p><img src="{{ recipe.imgUrl ? recipe.imgUrl : '../../assets/images/default.gif'}}" alt="image"></p>
        <p class="title">{{recipe.title}}<span class="fav">{{recipe.popularity}}&nbsp;<mat-icon [inline]="true" color="warning" >favorite</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
        <p>{{recipe.introduction}}</p>
     </a>
    </div>
</div>
</div>
