


<div>
    <h2>Login</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <div>
          <label for="username">
            username
          </label>
          <input id="username" type="text" formControlName="username">
        </div>
      
        <div>
          <label for="password">
            password
          </label>
          <input id="password" type="text" formControlName="password">
        </div>
      
        <button class="button" type="submit">Login</button>
        <a routerLink="/register">Register</a>
      
      </form>

</div>