<div id="container">
  <div [hidden]="submitted" >
    <form (ngSubmit)="onSubmit()">
      <mat-vertical-stepper linear>
        <mat-step  linear>
          <ng-template matStepLabel>
            <u>personal information</u>
          </ng-template>
          <h4>please provide your information</h4>
          <mat-form-field>
            <mat-label>name</mat-label>
            <input name="name" matInput placeholder="name" [(ngModel)]="feedback.name" 
             required>
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input name="email" type="email" matInput formControlName="email" [(ngModel)]="feedback.email"
                   placeholder="Ex. pat@example.com" required>
          </mat-form-field>
          <div>
            <button type="button" mat-button matStepperNext>next</button>
          </div>
        </mat-step>
        <mat-step linear>
          <ng-template matStepLabel>
            <u>questions</u>
          </ng-template>
            <h4>1. How do you know us?</h4>
              <mat-form-field>
                <mat-label>Select</mat-label>
                <mat-select name="question" [(ngModel)]="feedback.questions[0]" required >
                  <mat-option value="one">Advertising</mat-option>
                  <mat-option value="two">Friends introduce</mat-option>
                  <mat-option value="three">Application store</mat-option>
                  <mat-option value="four">social media</mat-option>
                </mat-select>
              </mat-form-field>
            <h4>2. How do you rete this app?</h4>
            <mat-form-field>
              <mat-label>Select</mat-label>
              <mat-select  name="question" [(ngModel)]="feedback.questions[1]" required >
                <mat-option value="one">very good</mat-option>
                <mat-option value="two">good</mat-option>
                <mat-option value="three">general</mat-option>
                <mat-option value="four">bad</mat-option>
              </mat-select>
            </mat-form-field>
            <h4>3. Which of the issues below was the biggest problem during your experience with this app?</h4>
              <mat-form-field>
                <mat-label>select</mat-label>
                <mat-select  name="question" [(ngModel)]="feedback.questions[2]" required>
                  <mat-option value="one">I experience bugs</mat-option>
                  <mat-option value="two">The app was confusing to use</mat-option>
                  <mat-option value="three">The app was missing feature I needed</mat-option>
                  <mat-option value="four">the app crashed</mat-option>
                  <mat-option value="five">The app was vidually unappealing</mat-option>
                  <mat-option value="six">Other</mat-option>
                </mat-select>
              </mat-form-field>
            <h4>4. What do you like most about this app</h4>
              <mat-form-field>
                <mat-label>select</mat-label>
                <mat-select  name="question" required [(ngModel)]="feedback.questions[3]">
                  <mat-option value="one">Functionality</mat-option>
                  <mat-option value="two">Look and feel</mat-option>
                  <mat-option value="three">Speed</mat-option>
                  <mat-option value="four">Navigation</mat-option>
                  <mat-option value="five">Stability</mat-option>
                  <mat-option value="six">Content</mat-option>
                  <mat-option value="seven">Other</mat-option>
                </mat-select>
              </mat-form-field>
          <button type="button" mat-button matStepperPrevious>back</button>
          <button type="button" mat-button matStepperNext>next</button>
        </mat-step>
        <mat-step label="other" linear>
          <h4>If you have any questions or Suggestions, please let us know.</h4>
            <mat-form-field>
                <mat-label>Textarea</mat-label>
                <textarea  name="advice" matInput cols="90" rows="10" MatTextareaAutosize [(ngModel)]="feedback.advice" ></textarea>
              </mat-form-field>
          <button type="button" mat-button matStepperPrevious>back</button>
          <button mat-raised-button color="primary" type="submit" 
          ><mat-icon>upload</mat-icon>submit</button>
        </mat-step>
      </mat-vertical-stepper>
    </form>
    </div>
    <div *ngIf="submitted">
      <h2>Thanks for your feedback, we continuously improve our app</h2>
    </div>
</div>
